<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
		<title>Gameboard</title>
		<link type="text/css" rel="stylesheet" href="Dices-styles.css">
</head>
<body>
    <div class="container">
        <div class="dice-wrapper">
            <img width="100" height="100" class = "dieimage" id="die1" >
            <img width="100" height="100" class = "dieimage" id="die2" >
            <img width="100" height="100" class = "dieimage" id="die3" >
            <img width="100" height="100" class = "dieimage" id="die4" >
            <img width="100" height="100" class = "dieimage" id="die5" >
        </div>
        <p id="total"></p>
        <button onclick="roll()">ROLL THE DICE</button>
    </div>
    <script src="Dices.js"></script>
</body>
</html>