<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
		<title>Gameboard</title>
		<link type="text/css" rel="stylesheet" href="Dices-styles.css">
</head>
<body>
    <div class="container">
        <div class="dice-wrapper">
            <img width="100" height="100" id="die-1" onclick="hold()">
            <img width="100" height="100" id="die-2" onclick="hold()">
            <img width="100" height="100" id="die-3" onclick="hold()">
            <img width="100" height="100" id="die-4" onclick="hold()">
            <img width="100" height="100" id="die-5" onclick="hold()">
        </div>
        <p id="total"></p>
        <button onclick="roll()">ROLL THE DICE</button>
    </div>
    <script src="Dices.js"></script>
</body>
</html>