<!DOCTYPE html>
<html >
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

		<meta charset="utf-8">
		<title>Header</title>
		<link type="text/css" rel="stylesheet" href="header-styles.css">
</head>
	<body>
<div id="header">
<div id="headercontainer"
<h1 id="my.name"> 
<span id="y1">Y</span>
<span id="a2">a</span>
<span id="h3">h</span>
<span id="t4">t</span>
<span id="z5">z</span>
<span id="e6">e</span>
<span id="e7">e</span>
<span id="l8">!</span>
</h1>
<img src="../dices.png" class="imgheader" alt="dices icon"> 
</div>
</div>
 
</body>
</html>