.scoreboard{
    background-color: #F4F1BB;
    border-collapse: collapse;
    color: #56667A;

    border-color: #ED6A5A;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;

    position:fixed;
}
th,td{
    border: solid 2px #ED6A5A;
    padding-left: 3px;
    padding-top: 2px;
padding-bottom: 2px;
}
.tabletotaling {
font-weight: 600;
text-align: center;

}

.yourscore {
width: 100px;
text-align: center;
color: #A7ADC6;
}

td .hint {
visibility: hidden;

background-color: #A7ADC6;
font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
font-style: italic;
font-size: 14px;
color: 1A090D;
text-align: center;
padding: 5px 0;
border-radius: 6px;
position: absolute;
z-index:1;
}

td:hover .hint {
cursor: pointer;
visibility: visible;

}


button {
background-color: #1A090D;
color:#A7ADC6;
border-radius: 10px;
font-family: 'Fira Sans', sans-serif;
position: relative;
display: block;
width: fit-content;
height: 40px;
margin: 40px auto 10px;
padding: 10px 10px;
font-size: 20px;
font-weight: 500;
cursor: pointer;
text-align: center;
}
button:hover{
  background-color: #56667a;
}

p {
  text-align: center;     
}

.yahtzee-board {
    background-color: #A7ADC6;
    border-width:25px; 
border-style:solid; 
border-color:#461F00; 
  position: relative;
  width:95%;
  height:90%;
  padding: 0px;
  margin: 0 auto;
}