.yahtzee-board {
background-color: #A7ADC6;
 position: relative;
width:95%;
height:90%;
  margin:0px;
 border-width:25px; 
border-style:solid; 
border-color:#461F00; 
padding: 0px;
}
.cube .front  { transform: translateZ(50px); }
.cube .back   { transform: rotateX(-180deg) translateZ(50px); }
.cube .right  { transform: rotateY(90deg) translateZ(50px); }
.cube .left   { transform: rotateY(-90deg) translateZ(50px); }
.cube .top    { transform: rotateX(90deg) translateZ(50px); }
.cube .bottom { transform: rotateX(-90deg) translateZ(50px); }


.container {
  float: left;
  margin: 20px;

  width: 100px;
  height: 100px;
  position: relative;
  

}

.cube {
  width: 100%;
  height: 100%;
  top: 50%;
  position: relative;
padding-left: 235%;

}

.cube:hover {
  cursor: pointer;
}

.cube div {
  position: absolute;
  padding: 50% 0;
}

